body {
	overflow:hidden;
	
	* {
		font-family:Verdana;
		font-size:12px;
	}
}

#tabs {
	position:absolute;
	
	left:0px;
	top:0px;
	
	width:100%;
	height:100%;
	
	font-size:0px;
	
	> .page {
		position:absolute;
		display:none;
		
		left:0px;
		top:0px;
		z-index:0;
		
		width:100%;
		height:calc(~"100% - 55px");

		border-radius:4px;
	
		background-image:linear-gradient(to bottom, #EEE 0%, #CCC 90%);
		
		&.active {
			display:block;
		}
		
		> .header {
			position:absolute;
			
			left:20px;
			top:20px;
			
			font-size:16px;
			font-weight:bold;
		}
		
		> .img {
			position:absolute;
			
			left:20px;
			top:50px;
			
			width:200px;
			height:200px;
			
			background-repeat:no-repeat;
			background-position:center;
			background-size:contain;
		}
		
		&[data-tab='connection'] > .img {
			background-image:url(../media/gfx/connection.png);
		}
		&[data-tab='walk'] > .img {
			background-image:url(../media/gfx/walk.png);
		}
		&[data-tab='move'] > .img {
			background-image:url(../media/gfx/move.png);
		}
		&[data-tab='updown'] > .img {
			background-image:url(../media/gfx/updown.png);
		}
		&[data-tab='rotate'] > .img {
			background-image:url(../media/gfx/rotate.png);
		}
		&[data-tab='system'] > .img {
			background-image:url(../media/gfx/system.png);
		}
		
		&[data-tab='connection'] {
			> .list {
				position:absolute;
				display:flex;
				
				justify-content:space-around;
				align-content:space-around;
				
				left:0px;
				top:0px;
				
				width:100%;
				height:100%;
				
				flex-wrap:wrap;				
				
				> .button {
					width:calc(~"25% - 30px") !important;
					height:calc(~"33% - 30px") !important;
				}
			}
			
			> .hint {
				position:absolute;
				
				left:50%;
				top:50%;
				margin-left:-200px;
				margin-top:-40px;
				
				width:400px;
				height:80px;
				
				line-height:80px;
				
				text-align:center;
				
				font-size:48px;
				
				color: rgba(50, 50, 50, 0.8);
				background-color:rgba(127, 127, 127, 0.8);
				text-shadow: 1px 4px 6px rgba(127, 127, 127, 1), 0 0 0 #000, 1px 4px 6px rgba(127, 127, 127, 1);
				
				border: 5px solid rgba(50, 50, 50, 0.8);
				
				&.success {
					background-color:rgba(127, 255, 127, 0.8);
					text-shadow: 1px 4px 6px rgba(127, 255, 127, 1), 0 0 0 #000, 1px 4px 6px rgba(127, 255, 127, 1);
				}
				
				&.error {
					background-color:rgba(255, 64, 64, 0.8);
					text-shadow: 1px 4px 6px rgba(255, 64, 64, 1), 0 0 0 #000, 1px 4px 6px rgba(255, 64, 64, 1);
				}
			}
		}
		
		> .button,
		> * > .button {
			position:relative;
			display:inline-block;
			
			margin:10px;
			
			width:80px;
			height:40px;
						
			background-color:rgba(127, 127, 127, 0.8);
			
			border: 5px solid rgba(50, 50, 50, 0.8);
			
			> .text {
				position:absolute;
				
				left:0px;
				top:50%;
				margin-top:-8px;
				
				width:100%;
				
				text-align:center;
				
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
			}
		}
	}
	
	> .buttons {
		position:absolute;
		display:flex;
		
		justify-content:space-between;
		
		left:0px;
		bottom:0px;
		z-index:0;
		
		width:100%;
		height:55px;
		
		overflow:hidden;
		
		font-size:0px;
		
		background-color:#CCC;
				
		> .button {
			position:relative;
			display:inline-block;
			
			width:calc(~"100% / 6");
			height:55px;
			
			background-color:#CCC;
			
			cursor:pointer;
			
			&:not(.active) {
				border-top-color:transparent;
				
				background-color:#AAA;
				
				box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5) inset;
			}
			
			&.disabled * {
				opacity:0.5;
			}
			
			> .img {
				position:absolute;
				
				left:50%;
				top:2px;
				margin-left:-30px;
				
				width:60px;
				height:40px;
				
				background-repeat:no-repeat;
				background-position:center;
				background-size:contain;
			}
			&[data-tab='connection'] > .img {
				background-image:url(../media/gfx/connection_th.png);
			}
			&[data-tab='walk'] > .img {
				background-image:url(../media/gfx/walk_th.png);
			}
			&[data-tab='move'] > .img {
				background-image:url(../media/gfx/move_th.png);
			}
			&[data-tab='updown'] > .img {
				background-image:url(../media/gfx/updown_th.png);
			}
			&[data-tab='rotate'] > .img {
				background-image:url(../media/gfx/rotate_th.png);
			}
			&[data-tab='system'] > .img {
				background-image:url(../media/gfx/system_th.png);
			}
			
			> .text {
				position:absolute;
				
				left:0px;
				bottom:2px;
				
				width:100%;
				
				text-align:center;
				
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				
				font-size:10px;
			}
		}	
		
		&.hidden > .button {
			display:none;
		}
	}
}

.ui.joystick {
	position:absolute;
	
	right:20px;
	top:50px;
	
	width:200px;
	height:250px;
	
	> .frame {
		position:absolute;
				
		left:0px;
		top:0px;
		
		width:200px;
		height:200px;
		
		background-color:#AAA;
		box-shadow: 0px 0px 20px #000 inset;
		
		> .stick {
			position:absolute;
			
			left:50%;
			top:50%;
			margin-left:-25px;
			margin-top:-25px;
			
			width:50px;
			height:50px;
			
			background-color:rgba(50, 50, 50, 0.8);
			border-radius:50%;
			box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
			
			&.active {
				margin-left:-40px;
				margin-top:-40px;
				
				width:80px;
				height:80px;
				
				background-color:rgba(255, 50, 50, 0.8);
			}
		}
	}
	
	> .buttons {
		position:absolute;
		display:flex;
		
		left:0px;
		bottom:0px;
		
		width:100%;
		height:40px;
		
		> .button {
			position:relative;
			display:inline-block;
			
			width:36px;
			height:32px;
			
			line-height:32px;
			
			text-align:center;
			
			&.active {
				background-color:#AAA;
				box-shadow: 0px 0px 20px #000 inset;
			}
		}
	}
	
	&[data-axis='x'] > .frame {
		left:0px;
		top:70px;
		
		width:200px;
		height:60px;
	}
	
	&[data-axis='y'] > .frame {
		left:70px;
		top:0px;
		
		width:60px;
		height:200px;
	}
}