<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.grothegruppe.kaibot"
        versionCode = "10"
        version     = "0.0.0.1">

  <name>KaiBot</name>

  <description>
    KaiBot - remote control
  </description>

  <author href="http://kaibot.grothe-apps.de" email="kaibot@grothe-apps.de">
    Grothe Resolute GmbH
  </author>

  <access origin="*" />
  
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
  <gap:plugin name="com.megster.cordova.bluetoothserial" version="0.3.3" />
  
  <preference name="phonegap-version" value="3.6.3" />

  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
  <preference name="orientation" value="landscape" />
  <platform name="ios">
    <preference name="fullscreen" value="true" />
  </platform>
  <gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
  </gap:config-file>
  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>  

</widget>
