<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.grothegruppe.kaibot"
        versionCode = "10"
        version     = "0.0.0.1">

  <name>KaiBot</name>

  <description>
    KaiBot - remote control
  </description>

  <author href="http://kaibot.grothe-apps.de" email="kaibot@grothe-apps.de">
    Grothe Resolute GmbH
  </author>

  <access origin="*" />
  
  <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
  <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
  <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
  <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />

  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
  <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
  <gap:plugin name="de.appplant.cordova.plugin.badge" version="0.6.0" />
  <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" />
  <gap:plugin name="nl.x-services.plugins.flashlight" version="2.0.1" />
  <gap:plugin name="com.megster.cordova.bluetoothserial" version="0.3.3" />
  
  <preference name="phonegap-version" value="3.6.3" />

  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
  <preference name="orientation" value="portrait" />
  <platform name="ios">
    <preference name="fullscreen" value="true" />
  </platform>
  <gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
  </gap:config-file>
  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>  

</widget>